body { padding-top: 70px; }
.navbar-default .navbar-brand {
    -webkit-text-stroke: 1px #000;
    font-family: "Courier New", monospace;
    font-size: 23px;
    color: #72c5f7;
    text-decoration: none;
    font-weight:bold;
    text-shadow: 1px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.navbar-default .navbar-brand:hover {
    color: #72c5f7;
}
a, a.button {
    color: #000;
    background: none;
    text-decoration: underline;
}
a:hover {
    color: #555;
}
pre {
    margin: 20px 0;
    border:none;
    padding: 0;
}
h1 a, h2 a {
    text-decoration: none;
}
pre, code.hljs {
    overflow: scroll;
    max-width: 300%;
    word-wrap: break-word;
    word-break: keep-all;
    white-space:pre;
}
#disqus_thread {
    width: 100%;
}
.popover{
    max-width: 50%;
}



